<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Page Not Found :(</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/static/libs/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/libs/bootstrap/css/bootstrap-theme.min.css">

        <style type="text/css" rel="stylesheet">
            body {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        </style>

        <script src="/static/libs/jquery/js/jquery-2.1.1.min.js"></script>
        <script src="/static/libs/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Not found <span>:(</span></h1>
                <p>
                    Sorry, but the page you were trying to view does not exist.
                    <br>It looks like this was the result of either:
                </p>
                <ul>
                    <li>a mistyped address</li>
                    <li>an out-of-date link</li>
                </ul>
            </div>
        </div>
    </body>
</html>
